<a id="top" href="#"><img src="/{{ page.url_prefix }}/images/arrow.png"></a>
<footer>
  <section id="doc-langs">

  <div id="footer-content">
      <div id="github">
        <a class="github-button" href="https://github.com/aws-valkyriejs/aws-valkyriejs.com" data-icon="octicon-star" aria-label="Star aws-valkyriejs/aws-valkyriejs.com on GitHub">Star</a>
      </div>
      <div id="sponsor"><a href="https://github.com/aws-valkyriejs/aws-valkyrie/">AWS Valkyrie</a>
          is a project of <a href="https://www.soluzionifutura.it/">Soluzioni Futura</a>.</div>
      <div id="fork"><a href="https://github.com/aws-valkyriejs/aws-valkyriejs.com">Fork the website on GitHub</a>.
      </div>
      <div>Copyright &copy; <script>document.write((new Date).getFullYear())</script> <a href="https://github.com/giowe">Giovanni Bruno</a>, <a href="https://www.soluzionifutura.it/">Soluzioni Futura</a>, and other contributors.</div>
  </div>
</footer>

<script async defer src="https://buttons.github.io/buttons.js"></script>
